@use "../../styles/variables" as variable;

.pagination {
  display: flex;
  gap: 10px;
}

.btn {
  width: 30px;
  height: 30px;
  font-size: 16px;
  background-color: variable.$color-pag-btn;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    position: relative;
    top: -1px;
    box-shadow: 0px 0px 3px 2px variable.$color-box-shadow;
  }
}

.btn__active {
  color: variable.$color-pag-btn-active-text;
  background-color: variable.$color-pag-btn-active;
  border: 1px solid variable.$color-pag-btn-active;
}

//****************


.navigationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
}

.navigationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid red;
  color: red;
  cursor: pointer;
}

.navigationButtons a:hover {
  color: white;
  background-color: red;
}

.navigationActive a {
  color: white;
  background-color: red;
}

.navigationDisabled a {
  color: grey;
  background-color: grey;
}