$width-md: 768px;
$width-lg: 1080px;
$width-xl: 1440px;

$color-pag-btn: #FFFFFF;
$color-pag-btn-active: #039c7e;
$color-pag-btn-active-text: #FFFFFF;
$color-title: #151515;
$color-subtitle: #2d2b2b;
$color-white: #FFFFFF;
$color-dark-white: #CCCCCC;
$color-border: #048d50;
$color-box-shadow: #043e27;
$color-placeholder: #CCCCCC;
$color-red: #cb0404;
$color-link-hover:  #039c7e;



$color-text: #393939;
$color-btn: #FFFFFF;
$color-bg-btn: #039c7e;
$color-link: #4ccaaa;
$color-light-green: #039c7e;
$color-placeholder: #CCCCCC;
$color-footer-text: #CCCCCC;
$color-logo: #4905ef;


