$width-md: 768px;
$width-lg: 1080px;
$width-xl: 1440px;

$color-pag-btn: #FFFFFF;
$color-pag-btn-active: #039c7e;
$color-pag-btn-active-text: #FFFFFF;
$color-title: #323232;


$color-white: #FFFFFF;
$color-dark-white: #CCCCCC;
$color-border: #048d50;

$color-text: #393939;
$color-btn: #FFFFFF;
$color-bg-btn: #039c7e;
$color-link: #039c7e;
$color-link-hover: #4ccaaa;
$color-light-green: #039c7e;
$color-placeholder: #CCCCCC;
$color-red: #cb0404;
$color-box-shadow: #868383;
$color-footer-text: #CCCCCC;
$color-logo: #4905ef;


