@use "../../styles/variables" as variable;

.search-form__wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 30px;
}

.search-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;

  &--error {
    margin: 0 0 18px 0;
    font-size: 14px;
    color: variable.$color-red;
  }
}

.search-form__item {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.search-form__label {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  text-wrap: balance;
}

.search-form__input {

  width: 100%;
  padding: 10px;
  border-radius: 7px;
}

.search-form__input::placeholder {
  color: variable.$color-placeholder;
  font-size: 16px;
}

.search-form__close {
  position: absolute;
  top: 50px;
  right: 15px;
  display: flex;
  width: 12px;
  height: 12px;
  cursor: pointer;
  //border: 1px solid #000;

  &::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 2px;
    background-color: variable.$color-title;
    transform: translate(-2px, 4px) rotate(45deg)
  }

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 2px;
    background-color: variable.$color-title;
    transform: translate(-2px, 4px) rotate(-45deg);
  }
}

.search-form__close:hover::after,
.search-form__close:hover::before{
  background-color: variable.$color-red;
}


//::-moz-placeholder {
//  color: variable.$color-placeholder;
//}
//
//:-moz-placeholder {
//  color: variable.$color-placeholder;
//}
//
//:-ms-input-placeholder {
//  color: variable.$color-placeholder;
//}
