@use "../../styles/variables" as variable;

.person {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid variable.$color-link-hover;
  border-radius: 20px;


  @media screen and (min-width: variable.$width-md){
    padding: 30px;
    box-shadow: 0px 0px 20px 0px variable.$color-box-shadow;
  }
}

.link-back {
  display: inline-block;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 16px;
  color: variable.$color-text;
  font-weight: 600;

  &:hover {
    color: variable.$color-link-hover;
  }
}

.person__title {
  margin-bottom: 30px;
  text-align: center;
}
.person__list{}

.person__item {
  margin-bottom: 15px;
  font-size: 20px;
}

.person__span {
  //display: inline-block;
  margin-right: 15px;
  font-weight: 600;
}

.person__subitem {
  position: relative;
  margin-left: 25px;
  margin-bottom: 15px;

  &::before{
    position: absolute;
    top: 5px;
    left: -15px;
    content: "*";
    margin-right: 7px;
  }
}

.person__link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    color: variable.$color-link-hover;
  }
}