@use "../../styles/variables" as variable;

.people {
  min-height: 90vh;
}

.people__title {
  margin-bottom: 35px;
}
//
//.people__list {
//  list-style-type: none;
//
//}

.navigationButtons {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 40px;
  margin: auto;
  list-style: none;
}

.navigationButtons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 15px;
  margin: 5px;
  border: 1px solid variable.$color-text;
  border-radius: 5px;
  color: variable.$color-text;
  cursor: pointer;

  @media screen and (min-width: variable.$width-lg) {
    width: 25px;
    height: 25px;
    font-size: 18px;
  }
}

.navigationButtons a:hover {
  position: relative;
  top: -1px;
  box-shadow: 0 0 3px 0 variable.$color-box-shadow;

}

.navigationActive a {
  color: white;
  background-color: variable.$color-pag-btn-active;
  border-color: variable.$color-pag-btn-active;
}

.navigationDisabled a {
  color: variable.$color-text;
  background-color: rgba(128, 128, 128, 0.3);

  &:hover {
    position: static;
    box-shadow: none;
    cursor: auto;
  }
}